.cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    margin: 50px 0;
}

.card {
    width: 100%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 6px 0 rgba(0, 0, 0, 0.19);
}

.image-card img:nth-child(1) {
    width: 100%;
    height: 50%;
    transition: all 2s;
    object-fit: contain;
}

.image-card img:nth-child(1):hover {
    transform: scale(1.1);
}

.image-card {
    overflow: hidden;
    background-color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    position: relative;
    z-index: -1;
}

.heart {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 20px;
}

.card-text {
    padding: 0 5px;
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.card-text p:nth-child(1) {
    color: black;
}

.card-text p:nth-child(2) {
    color: gray;
    font-size: 12px;
}
.star {
    height: 13px;
}
.hire {
    background-color: yellow;
    color: black;
    width: 90px;
    font-size: 12px;
}

.price p:nth-child(1) {
    font-size: 12px;
    color: grey;
}

.bottom {
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    justify-content: space-between;
    align-items: center;
}

.price p:nth-child(2) {
    font-size: 14px;
}

.bag2 {
    height: 31px;
    width: 31px;
    border-radius: 50%;
    padding: 3.5px;
    transition: all 0.2s;
    border: 1px solid #d0d0d0;
}

.bag2:hover {
    background-color: #efefef;
}

.item-bag {
    object-position: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    bottom: 0;
    right: 0;
}

.item-bag button {
    border: transparent;
    background-color: transparent;
}

.notification {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 6px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 700px;
}

.notification img {
    width: 100px;
    height: 100%;
}

.notification-item {
    width: 70%;
    padding: 0 20px;
}

.notification-item h1 {
    font-size: 22px;
}

.tranfer {
    width: 150px;
    height: 50px;
    color: blueviolet;
    white-space: nowrap;
    align-self: flex-end;
}
